QWidget {
    background-color: rgba(0, 0, 0, 150);
    border-radius: 10px;
}

QPushButton {
    color: white;
    background-color: #333333;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
}

QPushButton:hover {
    background-color: #555555;
}

QPushButton:pressed {
    background-color: #222222;
}
